<aside class="sidebar">
  <div class="sidebar-header">
    <h3>RMS 프론트 가이드북</h3>
  </div>
  <nav>
    <ul>
      <li><a href="index.html">홈</a></li>
      <li><a href="chapter1.html">1장. RMS란?</a></li>
      
      <!-- 2장 하위 메뉴 -->
      <li>
        <a href="chapter2.html" class="has-submenu">2장. IN/OUT MOVEMENTS ▾</a>
        <ul class="submenu">
          <li><a href="chapter2_section1.html">2-1. 체크인</a></li>
          <li><a href="chapter2_section2.html">2-2. 체크아웃</a></li>
          <li><a href="chapter2_section3.html">2-3. 이동 기록</a></li>
          <li><a href="chapter2_section4.html">2-4. 객실 관리</a></li>
          <li><a href="chapter2_section5.html">2-5. 보고서</a></li>
        </ul>
      </li>

      <li><a href="chapter3.html">3장. Availability</a></li>
      <li><a href="chapter4.html">4장. Booking</a></li>
      <li><a href="chapter5.html">5장. Clean Screen</a></li>
      <li><a href="chapter6.html">6장. ...</a></li>
      <li><a href="chapter7.html">7장. ...</a></li>
    </ul>
  </nav>
</aside>
